[submodule "nheqminer/external/equihash-xenon"]
	path = nheqminer/external/equihash-xenon
	url = git@github.com:omittones/equihash-xenon.git
[submodule "nheqminer/external/equihash-tromp"]
	path = nheqminer/external/equihash-tromp
	url = https://github.com/tromp/equihash.git
